{{#if subtopic}}
<h1>{{subtopic.name}}</h1>
<h2>{{subtopic.detail}}</h2>
<hr>
{{else}}
<h2>That subtopic couldn't be found!</h2>
{{/if}}

<h4>Edit Question about {{ subtopic.name }}</h4>
<form action="/topics/{{ subtopic.name }}?_method=put" method="post">
  <input type="text" name="subtopic[detail]" value="Question">
  <input type="submit" value="Update">
</form>

<h4>Remove Question</h4>
<form action="/topics/{{ subtopic.name }}?_method=delete" method="post">
  <input type="submit" value="Remove">
</form>
