<div id="topic-content" class="row grey lighten-2">

  <div id="topic-card-image" class="col s12">

    <div id="topic-card" class="card grey lighten-5 col s12 m6 l4">
      {{#if topic}}
      <h6 class="center-align light-blue-text text-darken-4">{{topic.title}}</h6>
      <div class="divider light-blue darken-3"></div>
      <p class="center-align light-blue-text text-darken-3">{{topic.description}}</p>
      <a id="topic-buttons" class="btn-floating btn-small pulse orange lighten-2 right" href="/topics/{{topic.title}}/subtopics"><i class="material-icons black-text">chevron_right</i></a>
      {{else}}
      <h2 class="center-align light-blue-text text-darken-4">That topic couldn't be found!</h2>
      {{/if}}
    </div>

    <div id="topic-card-crud" class="card grey lighten-5 col s12 m6 l4">
      <h6 class="center-align light-blue-text text-darken-4">Edit Question about {{ topic.title }}</h6>
      <div class="divider light-blue darken-3"></div>
      <form action="/topics/{{ topic.title }}?_method=put" method="post">
      <div class="input-field">
        <input id="crud-edit" type="text" name="topic[description]" placeholder="Question">
        <label for="crud-edit" class="light-blue-text text-darken-3">Edit Question</label>
      </div>
        <button id="index-buttons" class="btn-floating btn-small pulse orange lighten-2 right" type="submit" name="action">
        <i class="material-icons black-text">chevron_right</i>
      </button>
      </form>
    </div>

    <div id="delete-card" class="card grey lighten-5 col s12 m6 l4">
      <h5 class="light-blue-text text-darken-4 center-align">Remove Question</h5>
      <form action="/topics/{{ topic.title }}?_method=delete" method="post">
        <button id="index-buttons" class="btn-floating btn-small pulse orange lighten-2 right" type="submit" name="action">
          <i class="material-icons black-text">chevron_right</i>
        </button>
      </form>
    </div>    

  </div>

</div>

