{{#if topic}}
<h1>{{topic.title}}</h1>
<h2>{{topic.description}}</h2>
<hr>
{{#each topic.subtopic as |subtopic index|}}
<h3>
  <a href="/topics/{{../topic.title}}/{{subtopic.name}}">{{subtopic.name}}</a>
</h3>
{{/each}}
{{else}}
<h2>That topic couldn't be found!</h2>
{{/if}}

<h4>Edit Question about {{ topic.title }}</h4>
<form action="/topics/{{ topic.title }}?_method=put" method="post">
  <input type="text" name="topic[description]" value="Question">
  <input type="submit" value="Update">
</form>

<h4>Remove Question</h4>
<form action="/topics/{{ topic.title }}?_method=delete" method="post">
  <input type="submit" value="Remove">
</form>
